*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e5e5e5;
    font-family: system-ui;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    gap: 90px;
    border: 1px solid white;
    border-radius: 40px;
    background-color: white;
    margin-top: 40px;
    margin-left: 330px;
    margin-right: 380px;
    padding: 10px;
}

.logo{
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
}

nav ul{
    align-items: center;
   display: flex;
   list-style: none;
   justify-content: center;
}

nav li{
    margin: 0 40px;
    cursor: pointer;
}

nav a{

    color: black;
    text-decoration: none;
    font-size: 1.1rem;

}

nav a :hover{
  color: darkslategrey;
}

nav .btn{
    background-color: #0065e7;
    border: none;
    border-radius: 40px;
    padding: 15px 20px;
}

.h5-sec1{
    display: block;

}

.h1{
    font-size: 11rem;
    text-align: center;
}

.image-head{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-sec1{
    height: 580px;
    width: 70%;
   border-radius:700px 700px 700px 700px;
}

.sec2{
    margin-top: 300px;
}

.sec2-part{
    display: flex;
    margin: 50px;
}

.sec2-in{
    margin: 50px;
}

.h11{
    font-size: 5rem;
}

.para-h1{
    font-size: 1.2rem;
    width: 80%;
    word-spacing: 5px;
}

.sec2-inner{
    display: flex;
    margin-top: 30px;
}

.img-logo{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.inner{
    display: flex;
    align-items: center;
}

.p-iner{
    font-size: 1.1rem;
    width: 90%;
    margin-top: 10px;
}

.btnn{
    background-color:#e5e5e5;
    border: none;
    border-radius:30px;
    padding: 15px 20px;
    margin-top: 50px;
    margin-left: 40px;
}

.btnn:hover{
    background-color: #0065e7;
}


.btnn a{
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}

.img-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom:100px;
}

.img1{
    height: 400px;
    width: auto;
    border: 3px solid white;
    border-radius: 80px;
}

.img2{
    height: 200px;
    width: 200px;
     border: 4px solid white;
    border-radius: 50%;
}

.img3{
    height: 200px;
    width: 200px;
     border: 4px solid white;
    border-radius: 50%;
    margin-left: 50px;
}

.sec3{
    margin-top: 150px;
}

.sec3-h5{
    text-align: center;
    font-size: 1.4rem;
    font-weight: bolder;
}

.h1-sec3{
    text-align: center;
    font-size: 5.6rem;
}

.h5-sec3{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
}
.grid-sec3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 100px;
    justify-content: space-between;
}

.img-grid{
    height: 550px;
    width: 400px;
    border: none;
    border-radius: 60px;
}

.grid{
    border: none;
    border-radius: 60px;
    background-color: #fff;
    height: 700px;
    width: 400px;
    margin-top: 60px;

}

.gird-text{
    text-align: center;
}

.gird-text h3{
    font-size: 2rem;
    letter-spacing: -1.3px;
}

.gird-text h6{
    font-size: 1.1rem;
    font-weight: 300;
}

.gird-text h5{
    margin-top: 25px;
    font-size: 1.6rem;
    font-weight: 500;
}

.sec4{
    margin-top: 200px;
}

.sec4 h5{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.sec4 h1{
    text-align: center;
    font-size: 5.5rem;
}

.sec4-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.bi{
    position: relative;
    left: 42%;
    bottom: 60px;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    background-color: black;
    border: none;
    border-radius: 50%;
    padding: 10px;
}

.sec4-inner{
    border: 1px solid #e5e5e5;
    border-radius: 50px;
    background-color: #e5e5e5;
    height: 370px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
}

.sec4-inner:hover{
    background-color: #fff;
}

.sec4-inner h2{
    text-align: center;
    margin-top: 10px;
}

.img-sec4{
    margin: 0;
    height: 540px;
    width: 70%;
   border-radius:700px 700px 700px 700px;
}

.sec4-logo{
    margin: 0;
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

#h5{
    color: #fff;
    font-size: 1.5rem;
    width: 40%;
    position: relative;
    bottom: 420px;
    left: 560px;
}

#h1{
    color: #fff;
    font-size: 6.7rem;
    position: relative;
    bottom: 430px;
    left: 560px;
}

.container-last{
    margin-top: 150px;
}

footer{
     display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    gap: 90px;
    border: 1px solid white;
    border-radius: 40px;
    background-color: white;
    margin-bottom: 100px;
    margin-left: 330px;
    margin-right: 380px;
    padding: 10px;
}
